<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<h3 class="text-center">Movie list</h3>
<div class="container">
<div class="row">
  {% for i in movie %}
  <div class="col-sm-4">
    <div class="card mx-auto" style="width: 18rem;">
  <img src="{{i.image.url}}" class="card-img-top" alt="..." height="200px" width="90%">
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p class="card-text">{{i.year}}</p>
    <a href="{% url 'details' i.id %}" class="btn btn-primary">Details</a>
  </div>
  </div>
  </div>
  {% endfor %}
</div>
</div>
  {% endblock %}